* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


body {
    background-color: rgba(255, 255, 255, 0.849);
    font-family: 'Oswald', sans-serif;
}
main{
    min-height: calc(100vh - 6rem);
}
/*-------Header & footer Position-------*/
.spacer {
    width: 100%;
    height: 95px;
}

#pageContainer {
    position: relative;
    min-height: 100vh;
}

#contentWrap { 
    padding-bottom: 6rem;
}

/* ---------Header-------*/

.header {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 1%;
    z-index: 100;
    border-bottom: 2px solid rgb(32, 31, 31);
}

.navHeader {
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    padding: 0 15px 0 15px;
}

.nav_cart {
    padding: 0 15px 0 15px;
}

.nav__barBtn {
    font-size: 40px;
    color: rgb(0, 0, 0);
    padding: 0 15px 0 15px;
    margin-right: 0px;
    cursor: pointer;
}

.menuHeader {
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background: rgba(0, 0, 0, .95);
    text-align: center;
    transition: all .5s;
}

.menu__item {
    display: none;
    line-height: 30px;
    margin: 50px 0;
    transition: all .5s;
}

.menu__link {
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
}


.menu__link--orange:hover {
    color: rgb(255, 115, 0);
    font-size: 27px;
    transition: .01s;
}

.menu__link--green:hover {
    color: rgb(1, 255, 56);
    font-size: 27px;
    transition: .01s;
}

.menu__link--blue:hover {
    color: rgb(18, 1, 255);
    font-size: 27px;
    transition: .01s;
}

#check {
    display: none;
}

#check:checked~.menuHeader {
    height: 100vh;
}

#check:checked~.menuHeader li {
    display: block;
}


/* --------footer------- */

.footerNobootstrap {
    background-color: rgb(32, 31, 31);
    position: absolute;
    height: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 6rem;
}

.footer__container {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    align-items: center;
    text-align: center;
}

.box {
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: black;
}
.box p{
    margin: 0;
}

.box__img {
    width: 30px;
}

/*-----------Home-----------*/

.inicio-main {
    align-items: center;
    text-align: center;
}
.fondo-muno{
    position:fixed;
    height: 60vh;
    left: 10vw;
    top: 30vh;
    z-index: -1;
}
.presentacion-inicio {
    display: inline-block;
    margin: 5rem;
    padding: 2rem;
    text-align: center;
    align-items: center;
    width: 50vw;
    border: 2px solid aqua;
    border-radius: 2%;
}


/*------------Tienda-----------*/
.tienda-main {
    text-align: center;
    align-items: center;
}
.tienda-main__titulo{
    margin-top: 2rem;
    font-size: 60px;
    color: rgb(255, 115, 0);
    text-shadow: 1px 1px 2px black;
}
/*------------Sobre mi-----------*/
.sobremi-main {
    text-align: center;
    align-items: center;
    background-image: url(../assets/img/background.svg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.sobremi-main__titulo{
        margin-top: 2rem;
    font-size: 60px;
    color: rgb(1, 255, 56);
    text-shadow: 1px 1px 2px black;
}

.container-perfil {
    display: flex;
    margin: 2rem;
    margin-left: 2rem;

}

.texto-sobremi {
    display: inline-block;
    position: relative;
    border: 2px solid orange;
    border-radius: 2%;
    margin: 2rem;
    width: 50vw;
}

.perfil {
    border: 2px solid rgb(18, 1, 255);
    border-radius: 2%;
}


/*------------Contacto-----------*/
/*-------form-------*/
.contacto-main {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(1,0.5fr 2,1fr);
}

.container-form {
    display: inline-block;
    width: auto;
    max-width: 600px;
    height:max-content;
    margin: 2vw;
    padding: 2rem;
    position: relative;
    text-align: center;
    border-radius: 5%;
    grid-column: 1/6;
    grid-row: 2/4;
    border: 2px solid red;
    background: #2980B9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.container-form__titulo{
    margin: 10px;
    align-content: center;
}
.contactForm {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    justify-content: space-between;
}
.container-titulo{
    align-items: center;
    text-align: center;
    grid-column: 1/9;
    height: fit-content;
}
.titulo-contacto__texto{
    font-size: 70px;
}
.container-input{
    width: 100%;
    height: auto;
}
.contactInput::placeholder{
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
}
.contactInput{
    width: 100%;
}
.contactInput__textarea{
    width: 100%;
}

.contactInput__texto::placeholder{
    color: red;
}
.contactInput__correo::placeholder {
    color: orange;
}

.contactInput__telefono::placeholder {
    color: green;
}

.contactInput__textarea::placeholder {
    color: rgb(18, 1, 255);
}

.form__textarea {
    resize: none;
}
.form__btn{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
    background-color: #f14ebd;
}
.form__btn:hover{
    border-color: rgb(0, 0, 0);
}
/*-------info-------*/
.container-contactinfo{
    display: inline-block;
    position: relative;
    height: max-content;
    width: auto;
    max-width: 600px;
    border: 2px solid red;
    border-radius: 5%;
    grid-row: 2/4;
    grid-column: 6/9;
    padding: 2rem;
    margin: 2vw;
    background: #2980B9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.container-contactinfo__titulo{
    margin: 10px;
}
.container-contactinfo__content{
    font-weight: 100;
    font-size: 15px;
    opacity: 80%;
    margin: 5px;
}
/*-----------carrito-----------*/
.carrito-main {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(5,1fr);
    text-align: center;
}
.container-items{
    margin: auto;
    padding: 20px;
    border: 2px solid rgb(18, 1, 255);
    border-radius: 15px;
    width: 80%;
    height: 85%;
    grid-column: 1/2;
    grid-row: 1/5;
    text-align: left;
    font-size: 20px;
}
.items{
    border: 2px solid black;
    padding: 10px;
    height: 100%
}
.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fa-pencil::before{
    margin: 5px;
    cursor: pointer;
}
.fa-trash-can::before{
    margin: 5px;
    cursor: pointer;
}
.container-pago{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: 1fr 2fr;
    margin: auto;
    padding: 20px;
    border: 2px solid rgb(18, 1, 255);
    border-radius: 15px;
    width: 80%;
    height: 80%;
    grid-column: 2/3;
    grid-row: 1/4;
    text-align: left;
    font-size: 20px;
}
.pago{
    border: 2px solid black;
    grid-row: 2/3;
    height: 100%;
}

.buttons-carrito {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #725AC1;
    background: transparent;
    cursor: pointer;
    border-radius: 30px;
    border: 2px solid #725AC1;
    border-radius: 10px;
}
.buttons-carrito:hover{
    color: #725AC1;
}
.buttons-carrito{
    transform: scale(0.9);
}
.shadow-pop-br:hover {
	-webkit-animation: shadow-pop-br 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: shadow-pop-br 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@keyframes shadow-pop-br {
    0% {
      box-shadow: 0 0 #725AC1, 0 0 #725AC1, 0 0 #725AC1, 0 0 #725AC1, 0 0 #725AC1, 0 0 #725AC1, 0 0 #725AC1, 0 0 #725AC1;
      transform: translateX(0) translateY(0);
    }
    100% {
      box-shadow: 1px 1px #725AC1, 2px 2px #725AC1, 3px 3px #725AC1, 4px 4px #725AC1, 5px 5px #725AC1, 6px 6px #725AC1, 7px 7px #725AC1, 8px 8px #725AC1;
      transform: translateX(-8px) translateY(-8px);
    }
  }

/*------------responsive header-----------*/

@media screen and (min-width:768px) {

    .nav__barBtn {
        display: none;
    }

    .menuHeader {
        display: flex;
        position: relative;
        height: 100px;
        top: 0;
        background: none;
        transition: none;
        text-align: left;
        margin-bottom: 10px;
    }

    .menu__item {
        display: inline-block;
        transition: none;
    }
    .menu__link{
        margin: 0 5px 0 5px;
        transition: none;
}

    .menu__link--orange{
        color: rgb(255, 115, 0);
        font-size: 25px;
        text-transform: uppercase;
        font-weight: 500;

        padding: 3px;
        border: 2px solid rgb(255, 81, 0);
        border-radius: 15px;
    }

    .menu__link--green {
        color: rgb(1, 255, 56);
        font-size: 25px;
        text-transform: uppercase;
        font-weight: 500;
        padding: 3px;
        border: 2px solid rgb(1, 255, 56);
        border-radius: 15px;
    }

    .menu__link--blue {
        color: rgb(18, 1, 255);
        font-size: 25px;
        text-transform: uppercase;
        font-weight: 500;
        padding: 3px;
        border: 2px solid rgb(18, 1, 255);
        border-radius: 15px;
    }

    .menu__link:hover {
        font-size: 25px;
        padding: 5px;
    }
}

/*------------responsive footer-----------*/
@media screen and (max-width:450px) {
    .box {
        font-size: 13px;
    }
}

@media screen and (max-width:403px) {
    .box {
        font-size: 12px;
    }
}

@media screen and (max-width:390px) {
    .box {
        font-size: 9px;
    }
}
@media screen and (max-width:330px) {
    .box {
        font-size: 8px;
    }
}
/*------------responsive contacto-----------*/

@media screen and (max-width:768px) {
    .contacto-main {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(1,0.5 3,1fr);
        margin: auto;
        width: 80%;
    }
    .container-form {
        grid-column: 1/6;
        grid-row: 2/4;;
    }
    .container-titulo{
        grid-column: 1/6;
    }
    .container-contactinfo{
        grid-column: 1/6;
        grid-row: 4/6;
    }
}
/*------------responsive Home-----------*/
@media screen and (max-width:650px) {
    .presentacion-inicio{
        width: auto;
        margin: 3rem;
    }
    .presentacion-inicio__titulo{
        font-size: 25px;
    }
}

/*------------responsive sobremi-----------*/
@media screen and (max-width:768px) {
    .container-perfil {
        display: inline-block;
    }
}
/*------------responsive carrito-----------*/
@media screen and (max-width:530px) {
    .carrito-main{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(9,1fr);
    }
    .container-pago{
        grid-column: 1/2;
        grid-row: 6/9;
    }
}