@use "../utilities/variables";
/*------Header------*/
.header {
	position: fixed;
	width: 100%;
	height: 100px;
	background-color: variables.$white;
	border-radius: 1%;
	z-index: 100;
	border-bottom: 2px solid #201f1f;
	.navHeader {
		display: flex;
		height: 100px;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		.nav__logo {
			padding: 0 15px 0 15px;
		}
		.nav__cart {
			padding: 0 15px 0 15px;
		}
		.nav__barBtn {
			font-size: 40px;
			color:black;
			padding: 0 15px 0 15px;
			margin-right: 0px;
			cursor: pointer;
		}
		#check {
			display: none;
			&:checked {
				~ {
					.menuHeader {
						height: 100vh;
						li {
							display: block;
						}
					}
				}
			}
		}
		.menuHeader {
			position: fixed;
			width: 100%;
			height: 0vh;
			top: 100px;
			background: variables.$menuHeader;
			text-align: center;
			transition: all .5;
			.menu__item {
				display: none;
				line-height: 30px;
				margin: 50px 0;
				transition: all .5s;
				.menu__link {
					color: white;
					font-size: 25px;
					text-transform: uppercase;
					font-weight: 600;
					text-decoration: none;
				}
				.menu__link--orange {
					&:hover {
						color: variables.$orange;
						font-size: 27px;
						transition: .01s;
					}
				}
				.menu__link--green {
					&:hover {
						color: variables.$green;
						font-size: 27px;
						transition: .01s;
					}
				}
				.menu__link--blue {
					&:hover {
						color: variables.$violet;
						font-size: 27px;
						transition: .01s;
					}
				}
			}
		}
	}
}
/*------Header responsive------*/
@media screen and (min-width: 768px) {
	
	.nav__barBtn {
        display: none;
    }
	.menuHeader {
		display: flex;
		position: relative;
		height: 100px;
		top: 0;
		background: none;
		transition: none;
		text-align: left;
		margin-bottom: 10px;
		.menu__item{
			display: inline-block;
			transition: none;
			.menu__link{
				margin: 0 5px 0 5px;
				transition: none;
				&:hover{
					font-size: 25px;
					padding: 5px;
				}
			}
			.menu__link--orange{
				color: variables.$orange;
				font-size: 25px;
				text-transform: uppercase;
				font-weight: 500;
				padding: 3px;
				border: 2px solid variables.$orange;
				border-radius: 15px;
			}
			.menu__link--green{
				color: variables.$green;
				font-size: 25px;
				text-transform: uppercase;
				font-weight: 500;
				padding: 3px;
				border: 2px solid variables.$green;
				border-radius: 15px;
			}
			.menu__link--blue{
				color: variables.$violet;
				font-size: 25px;
				text-transform: uppercase;
				font-weight: 500;
				padding: 3px;
				border: 2px solid variables.$violet;
				border-radius: 15px;
			}
		}
	}
}