/* ---------Typhografy-------*/
$fontFamily: 'Oswald', sans-serif;
/* ---------Colors-------*/
$white: #FFFFFF;
$borderHeader: rgb(32, 31, 31);
$menuHeader: black;
$orange: rgb(255, 115, 0);
$green: rgb(1, 255, 56);
$violet: rgb(18, 1, 255);
$footer-color: rgb(32, 31, 31);

/* ---------Map-------*/
$estilos-cards: (
    tFuenteTitle: 35px,
    tFuenteDesc: 16px,
);

@mixin estilo-titulo {
    margin-top: 2rem;
    font-size: 60px;
    text-shadow: 1px 1px 2px black;
}


