@use "../utilities/variables";

@mixin form__button {
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
    background-color: variables.$orange;
    &:hover{
        border-color: rgb(0, 0, 0);
    }
}
@mixin carrito__button {
    .buttons-carrito{
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #725AC1;
    background: transparent;
    cursor: pointer;
    border-radius: 30px;
    border: 2px solid #725AC1;
    border-radius: 10px;
    transform: scale(0.9);
        &:hover{
            color: #725AC1;
        }
    }        
    .shadow-pop-br:hover {
        -webkit-animation: shadow-pop-br 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
                animation: shadow-pop-br 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    } 
    @keyframes shadow-pop-br {
        0% {
        box-shadow: 0 0 #725AC1, 0 0 #725AC1, 0 0 #725AC1, 0 0 #725AC1, 0 0 #725AC1, 0 0 #725AC1, 0 0 #725AC1, 0 0 #725AC1;
        transform: translateX(0) translateY(0);
        }
        100% {
        box-shadow: 1px 1px #725AC1, 2px 2px #725AC1, 3px 3px #725AC1, 4px 4px #725AC1, 5px 5px #725AC1, 6px 6px #725AC1, 7px 7px #725AC1, 8px 8px #725AC1;
        transform: translateX(-8px) translateY(-8px);
        }
    }
}
