@use "../utilities/variables";
@use "../layout/header";
@use "../layout/footer";
@use "../components/buttons";

.carrito-main{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(6,1fr);
    text-align: center;
    .carrito-main__titulo{
        @include variables.estilo-titulo;
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .container-items{
        margin: auto;
        padding: 20px;
        border: 2px solid rgb(18, 1, 255);
        border-radius: 15px;
        width: 80%;
        height: 85%;
        grid-column: 1/2;
        grid-row: 2/6;
        text-align: left;
        font-size: 20px;
        .items{
            border: 2px solid black;
            padding: 10px;
            height: 100%;
            .item{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .fa-pencil::before{
                    margin: 5px;
                    cursor: pointer;
                }
                .fa-trash-can::before{
                    margin: 5px;
                    cursor: pointer;
                }
            }
        }
    }
    .container-pago{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 1fr 2fr;
        margin: auto;
        padding: 20px;
        border: 2px solid rgb(18, 1, 255);
        border-radius: 15px;
        width: 80%;
        height: 80%;
        grid-column: 2/3;
        grid-row: 2/5;
        text-align: left;
        font-size: 20px;
        .pago{
            border: 2px solid black;
            grid-row: 2/3;
            height: 100%;
        }
    }
        @include buttons.carrito__button;
    .alert__carrito{
        position: fixed;
        display: none;
        border-radius: 10%;
        width: 25vw;
        opacity: 0.5;
        color: black;
    }
    #carrito-alert{
        display: none;
        &:checked~.alert{
            display: block;

            -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                    animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                    
            @-webkit-keyframes scale-in-center {
                0% {
                -webkit-transform: scale(0);
                        transform: scale(0);
                opacity: 1;
                }
                100% {
                -webkit-transform: scale(1);
                        transform: scale(1);
                opacity: 1;
                }
            }
            @keyframes scale-in-center {
                0% {
                -webkit-transform: scale(0);
                        transform: scale(0);
                opacity: 1;
                }
                100% {
                -webkit-transform: scale(1);
                        transform: scale(1);
                opacity: 1;
                }
            }
        }
    }
}
/*------------responsive carrito-----------*/
@media screen and (max-width:530px) {
    .carrito-main{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(10,1fr);
        .carrito-main__titulo{
            @include variables.estilo-titulo;
            grid-column: 1/2;
            grid-row: 1/2;
        }
        .container-pago{
            grid-column: 1/2;
            grid-row: 7/10;
        }
        .buttons-carrito__finalizar{
            grid-row: 10/11;
        }
        .buttons-carrito__actualizar {
            grid-row: 6/7;
        }
    }
}
