@use "../utilities/variables";
@use "../layout/header";
@use "../layout/footer";
.inicio-main {
    align-items: center;
    text-align: center;
    .fondo-muno{
        position:fixed;
        height: 60vh;
        left: 10vw;
        top: 30vh;
        z-index: -1;
    }
    .alert{
        font-size: 20px;
    }
    .presentacion-inicio{
        display: inline-block;
        background-color: rgba(255, 255, 255, 0.7);
        margin: 5rem;
        margin-top: 3rem;
        padding: 2rem;
        text-align: center;
        align-items: center;
        width: 50vw;
        border: 2px solid aqua;
        border-radius: 2%;
    }
    .presentacion-inicio-info{
        @extend .presentacion-inicio;
        margin-top: 0;
        font-size: 20px;
    }
}
/*------------responsive Home-----------*/
@media screen and (max-width:650px) {
    .inicio-main{
        .presentacion-inicio{
            width: auto;
            margin: 3rem;
            .presentacion-inicio__titulo{
                font-size: 25px;
            }
        }
    }
}