@use "../utilities/variables";
@use "../layout/header";
@use "../layout/footer";

.sobremi-main{
    text-align: center;
    align-items: center;
    background-image: url(../assets/img/background.svg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    .sobremi-main__titulo{
        @include variables.estilo-titulo;
        color: rgb(1, 255, 56);
    }
    .container-perfil{
        justify-content: center;
        display: flex;
        margin: 2rem;
        margin-left: 2rem;
        .perfil{
            border: 2px solid rgb(18, 1, 255);
            border-radius: 2%;
        }
        .texto-sobremi{
            display: inline-block;
            position: relative;
            border: 2px solid orange;
            border-radius: 2%;
            margin: 2rem;
            width: 50vw;
            height: fit-content;
            h1{
                font-size: map-get(variables.$estilos-cards, tFuenteTitle);
            }
            h2{
                font-size: 32px;
            }
            p{
                font-size: map-get(variables.$estilos-cards, tFuentesDesc);
            }
        }
    }
}
/*------------responsive sobremi-----------*/
@media screen and (max-width:768px) {
    .sobremi-main{
        .container-perfil {
            display: inline-block;
        }
    }

}