@use "../utilities/variables";
@use "../layout/header";
@use "../layout/footer";

.tienda-main{
    text-align: center;
    align-items: center;
    .tienda-main__titulo{
        @include variables.estilo-titulo;
        color: variables.$orange;
    }
}