@use "../utilities/variables";
@use "../layout/header";
@use "../layout/footer";

.tienda-main{
    text-align: center;
    align-items: center;
    .tienda-main__titulo{
        margin-top: 2rem;
        font-size: 60px;
        color: variables.$orange;
        text-shadow: 1px 1px 2px black;
    }
}